header span{
  display: block;
  text-align: center;
  background-color: #196084;
  padding: 30px;
  

}


nav ul  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px;
  background-color: #70b8dc;
  text-decoration:none;
  margin:0;
    
}
h2{
    text-align: center;
    color: #196084;
    background-color: #70b8dc;
}
h3{
    text-align: center;
    color: #196084;
    text-decoration: underline;
}
.card{
    display:grid;
    
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}